:root {
    --box-shadow: 0px 1px 4px 1px rgb(199, 199, 199,1);
    
}

.app {
    width: 615px;
    height: 120vh;
    margin: 0 auto;
    background-color: rgb(217, 221, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem;
    gap: 1rem;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

.app h1 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}
/* there are from element make the table color */
.cashflow-container {
    width: 490px;
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 9%;
}
.expense-container{
margin-right: 20%;
}

.expense-container {
    border-right: 3px solid rgb(16, 16, 15);
    padding-right: 150px;
}

#income,
#expense{
    font-size: 1.3em;
    margin: 5px;
}

#transaction {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

/* there have from element of the table */

#transaction-amt {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
  }

  #transaction-amt td, #transaction-amt th {
    border: 3px solid #6de9d7;
    padding: 8px;
   gap: 20%;
  }

  #transaction-amt tr:nth-child(even){
    background-color: #e08989;
}
  #transaction-amt tr:hover {
    background-color: #04AA6D;
    
}

#transaction-amt th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  text-align: center;
}


.transaction-item > ul > li
{
    list-style: none;
}

.transaction-container{
    background-color: #04AA6D;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 78%;
    text-align: center;
    margin-top: 7%;
    justify-content: space-between;
    
}

.form{
    display: flex;
    flex-direction: column;
}

.label{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.button {
    display: flex;
}

#expense{
    background-color: #04AA6D;;
}

#income{
    background-color: #e08989;
}

